* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 99vh;
  background-color: #cedfe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border: 10px solid #fff;
  border-radius: 15px;
  font-size: 16px;
  margin-top: 30px;
  width: 320px;
  color: #000;
  outline: none;
}

img {
  width: 18%;
}

button {
  border: none;
  width: 240px;
  height: 35px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #4a525b;
  margin-top: 20px;
  border-radius: 20px;
  color: #fff;
}

a {
    text-decoration: none;
    color: #4a525b;
}

@media screen and (max-width: 900px) {
  header {
    display: none;
  }

  img {
    position: static;
  }

  button {
    display: block;
    margin: 20px;
  }
}
